body, html {
    height: 100%;
    background-color: black;
    }
    ul{
        list-style-type: none;
    }

h1{
    color: azure;
    font-weight: 400;
}

li{
    color:whitesmoke ;
    font-weight: bolder;
}
p{
    font-weight: bold;
    color: white;
}
#bg1 {
    background-image: url("../../assets/GalaxyBackground.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }


#profile{
height: 200px;
width: 200px;
float:left

}
#EmilioInfo{
   background-image: url("../../assets/GalaxyBackground.jpg");
    background-repeat: repeat;
    background-color: #161b33;
}
#rightBackground{
    
    background-color:black;

}
#leftBackground{
    background-image:url("../../assets/SpacePic.jpg") ;
}
#skills{
    color:black
}

