#col1{
box-sizing: border-box;
width: 500px;
}
#col2{
    
   padding-left:8px; 
   padding-top: 0px;

}
.about{
    box-sizing: border-box;
    height: 0px;
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;

}
body, html {
    height: 100%;
    background-image: -webkit-radial-gradient(circle, #0f2027, #203a43, #2c5364) 
    }
    ul{
        list-style-type: none;
    }

h1{
    color: azure;
    font-weight: 400;
}

li{
    color:whitesmoke ;
    font-weight: bolder;
}
p{
    font-weight: bold;
    color: white;
}
#bg1 {
    /* background-image: url("../../assets/Nebula.jpg");
    height: 100vh;
    margin-right: 220px;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    /* width: 100%; */
    /* background-image: -webkit-radial-gradient(circle, #0f2027, #203a43, #2c5364)  */
    
    }


#profile{
height: 200px;
width: 200px;
float:left

}

#EmilioInfo{
   background-image: url("../../assets/GalaxyBackground.jpg");
   margin-top: 0px;
   padding: 0;
    background-repeat: repeat;
    background-color: #161b33;
    margin-bottom: 420px;

}
#rightBackground{
    
    background-color:black;

}
#leftBackground{
    background-image:url("../../assets/SpacePic.jpg") ;
}
#skills{
    color:black
}

#Satelight{
    height: 500px;
    width: 200px;
    float:right
}

