

#name{
    
    font-family: "Awakening";
    font-size: 5rem;
    color:grey;
    text-align: center;
    z-index: 2;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8), -2px -2px 4px rgba(255,255,255,0.4);
    position: absolute;
    left: 35%;
   top:0;
}
#subTitle{
    font-family: "Paladins";
    font-size: 2rem;
    color:grey;
    text-align:center;
    z-index: 2;
    text-shadow: 2px 2px 4px rgba(0,0,0,10), -2px -2px 4px rgba(255,255,255,0.4);
    position: absolute;
    left: 39.5%;
    top:10%;

}