

#name{
    font-size: 5rem;
    color:lightblue;
    text-align: center;
    z-index: 2;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8), -2px -2px 4px rgba(255,255,255,0.4);
}
#subTitle{
    font-size: 2rem;
    color:lightcyan;
    text-align:center;
    z-index: 2;
    text-shadow: 2px 2px 4px rgba(0,0,0,10), -2px -2px 4px rgba(255,255,255,0.4);
}