
body, html {
    height: 100%;
    background-image: url(../../assets/Moon.jpg);
    }
#bg {
    background-image: url("../../assets/Moon.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    }
